:root {
	--correct: rgb(98, 180, 82);
	--in-word: rgb(196, 187, 89);
	--not-in-word: rgb(94, 94, 94);
	--header-height: 50px;
	--background: rgb(14, 14, 14);
	--border-color: rgb(119, 119, 119);
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--background);
	font-family: sans-serif;
	color: white;
}

h1{
	font-family: 'Times New Roman', Times, serif;
	font-size: 28px;
}

.navbar{
	width: 100vw;
	box-sizing: border-box;
	height: var(--header-height);
	background-color: var(--background);
	border-bottom: 1px var(--border-color) solid;
	line-height: var(--header-height);
	text-align: center;
	justify-content: center;
}

#wordle-container {
	flex: 1;
	margin-top: 2vh;
	display: flex;
	flex-direction: column;
	gap: .5vh
}

#wordle-container > div {
	display: flex;
	gap: .5vh
}

#wordle-container > div > div {
	--cell-width: min(7.58vh, 14vw);
	background-color: rgb(34, 34, 34);
	box-sizing: border-box;
	border-radius: 3px;
	border: 2px solid var(--border-color);
	color: white;
	font-size: 0px;
	font-family: sans-serif;
	font-weight: bold;
	height: var(--cell-width);
	line-height: var(--cell-width);
	aspect-ratio: 1;
	text-align: center;
	user-select: none;
}

#wordle-container > div > div.correct,
.key.correct {
	background-color: var(--correct);
	transform: rotateX(360deg);
}

#wordle-container > div > div.in-word,
.key.in-word {
	background-color: var(--in-word);
	transform: rotateX(360deg);
}

#wordle-container > div > div.not-in-word,
.key.not-in-word {
	background-color: var(--not-in-word);
	transform: rotateX(360deg);
}

#wordle-container > div > div.text {
	font-size: calc(var(--cell-width) * .6);
}

.wordle {
	height: calc(100vh - var(--header-height));
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.keyboard {
	flex: 1;
	box-sizing: border-box;
	border-top: 1px solid var(--border-color);
	display: flex;
	margin-top: 2vh;
	margin-bottom: 5vh;
	width: 100%;
	flex-direction: column-reverse;
	align-items: center;
	gap: .5vh;
}

.keyboard-row {
	display: flex;
	gap: .5vh;
}

.keyboard-row > button {
	border: none;
	min-width: 8.14vw;
	height: 16.66vh;
	max-height: 40px;
	font-size: 11px;
	font-weight: bold;
	padding: 0px .5vh;
	border-radius: 4px;
	background-color: rgb(57, 57, 57);
	color: white;
	cursor: pointer;
	user-select: none;
	transition: transform 500ms ease-out;
}

.keyboard-row > button:active {
	background-color: rgb(154, 154, 154);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup {
	width: 350px;
	height: fit-content;
	padding: 30px 20px;
	background-color: rgb(59, 59, 59);
	border-radius: 10px;
	text-align: center;
	box-sizing: border-box;
	opacity: 0;
	transition: all 500ms ease-out;
	z-index: 99;
	top: -10%;
	transform: translate(-50%, -50%) scale(0.5);
}
.popup .popup-title {
	margin-bottom: 20px;
}

.popup-actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.popup.active {
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

.popup .popup-action {
	border-radius: 5px;
	margin-top: 20px;
	width: fit-content;
	font-size: 1rem;
	color: white;
	font-weight: bold;
	background-color: var(--correct);
	cursor: pointer;
	border: none;
	padding: 10px;
	user-select: none;
}

@media screen and (min-width: 750px) {
	.keyboard-row > button{
		min-width: 42px;
	}
}
